Host *
  UseKeychain yes

Host py-dev
  HostName 206.189.208.240
  User root
  IdentityFile ~/.ssh/id_rsa

Host rusty-pi
  HostName 10.0.0.143
  User pi

Host docker-dev
  HostName 167.99.175.164
  User root
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes

Host ipage
  HostName 192.163.196.228
  User atek02
  IdentityFile ~/.ssh/idatk_rsa
  Port 24

Host rs1
  HostName 74.205.55.151
  User atek02
  IdentityFile ~/.ssh/idatk_rsa
  Port 24
  ForwardAgent yes

Host brit
  HostName 66.210.241.39
  User atek02
  IdentityFile ~/.ssh/idatk_rsa
  Port 22
  ForwardAgent yes

Host dw
  HostName 74.205.55.151
  User atek02
  IdentityFile ~/.ssh/idatk_rsa
  Port 24
  ProxyJump brit
  ProxyCommand mysql atek02_main -u root

Host domo_trial
  HostName 74.205.55.151
  port = 24
  user = domoac
  IdentityFile ~/.ssh/idatk_domo_rsa

Host nas
  HostName 66.210.241.39
  User atek02
  IdentityFile ~/.ssh/idatk_rsa
  Port 24

Host domoac
  HostName 74.205.55.151
  User domoac
  IdentityFile ~/.ssh/idatk_rsa
  Port 24
  ForwardAgent yes
  ProxyCommand mysql -u domoac atek02_main -p

Host hamidk_test
  HostName 66.210.241.39
  User hamidk
  IdentityFile ~/.ssh/idatk_hamidk
  Port 22
  ForwardAgent yes

# making a change
